aiodns==3.2.0
async_timeout==5.0.1
cffi==1.17.1
colorama==0.4.6
ConfigParser==7.2.0
defusedxml==0.7.1
docutils==0.18.1
filelock==3.18.0
gunicorn==23.0.0
h2==4.2.0
HTMLParser==0.0.2
js==1.0
keyring==24.3.1
numpy==2.2.5
olefile==0.47
pyinstaller==6.11.1
pyodide==0.0.2
pytest==7.4.4
python_bcrypt==0.3.2
redis==5.2.1
setuptools==75.8.0
simplejson==3.20.1
thread==2.0.5
urllib3_secure_extra==0.1.0