aiodns==3.2.0
async_timeout==5.0.1
Brotli==1.0.9
brotlicffi==1.1.0.0
cffi==1.17.1
colorama==0.4.6
ConfigParser==7.2.0
defusedxml==0.7.1
docutils==0.18.1
filelock==3.18.0
gunicorn==23.0.0
h2==4.2.0
HTMLParser==0.0.2
ipython==8.12.3
ipython==8.27.0
ipywidgets==7.8.1
jnius==1.1.0
js==1.0
keyring==24.3.1
mask==1.0.0
numpy==2.2.5
olefile==0.47
protobuf==4.25.3
pyinstaller==6.11.1
pyodide==0.0.2
PyQt6==6.9.0
PySide6==6.9.0
pytest==7.4.4
python_bcrypt==0.3.2
redis==5.2.1
setuptools==75.8.0
setuptools==75.3.0
simplejson==3.20.1
thread==2.0.5
urllib3_secure_extra==0.1.0
uvloop==0.21.0
xmlrpclib==1.0.1
zstandard==0.23.0
